:root {
  --main-text-color: #757575;
  --accent-text-color: #212121;
  --second-text-color: #fff;
  --active-text-color: #2196f3;
  --main-button-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", "sans-serif";
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*header*/
.header {
  border-bottom: 1px solid var(--second-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.header-link:not(last child),
.header-contact:not(last child) {
  margin-right: 50px;
}

.header-list :hover,
.header-list :focus {
  color: var(--active-text-color);
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-communication {
  margin-left: auto;
}

.header .header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
}

.header-contacts :hover,
.header-contacts :focus {
  color: var(--active-text-color);
}

.header-contact {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts {
  display: flex;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-color-header {
  color: var(--active-text-color);
}

/*------main-----*/
.hero {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-container {
  flex-grow: 1;
}

.hero-text {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
}
.hero-btn {
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  min-height: 50px;
  color: var(--accent-text-color);
  background-color: var(--active-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.hero-btn:focus,
.hero-btn:hover {
  color: var(--second-text-color);
  background: var(--main-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

/*under-hero*/

.uh-section {
  display: flex;
}

.uh-list {
  display: flex;
}

.uh-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  padding-bottom: 10px;
}

.uh-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.uh-item:not(last child),
.uh-title:not(last child) {
  padding-right: 30px;
}

/*work*/

.paragraph {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

/*our-works*/

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
}

.works-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*team*/

.team-title {
  font-style: medium;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.team-member {
  font-style: regular;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*footer*/
.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.logo-color-footer {
  color: var(--active-text-color);
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.adr {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list :hover,
.footer-list :focus {
  color: var(--active-text-color);
}
